<div id="tones">
</div>

<script type="text/javascript">
  Beethoven.init();
  Morgan.init();
  NotePlaying.init();
  C.init();
  D.init();
  E.init();
  F.init();
  G.init();
  NoteLog.init()

</script>